@model LanchesMac.ViewModels.HomeViewModel

@await Html.PartialAsync("_Carousel")

<div class="my-3">
    <h2>Os Preferidos da Semana</h2>
    <h4>Tá com fome???</h4>
</div>

<div>
    @foreach (var lanche in Model.LanchesPreferidos)
    {
        @await Html.PartialAsync("_LanchesResumo", lanche)
    }
</div>