@model Lanche

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail d-flex justify-content-center">
        <img src="~/images/cheesesalada1.jpg" alt="" />
    </div>
    <div class="figure-caption">
        <h3 class="float-right">@Model.Preco.ToString("c")</h3>
        <h3>
            @Model.Nome
        </h3>
        <p>@Model.DescricaoCurta</p>
    </div>
</div>