<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <img src="~/images/Envelope-icon.png" />
            <email endereco="rms2307@outlook.com" conteudo="Enviar um E-mail" ></email>
            <br />
            <img src="~/images/phone-app-icon.png"/>
            (11) 9874-5566
            <br />
            <img src="~/images/Home-icon.png" />
            Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo
        </p>
    </div>
</div>